/* menu principal supeior  */


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

    border-style: ridge;
    border-color: red;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
 
    /*body*/

    body{
        background-color: rgba(17, 17, 17, 0.937);
        color: antiquewhite;
    }

    /*header*/
    header{
        background-color: #0F1821;
    }
    /* >>  banner  << */
    header img{
        width: 720px;
        margin-inline-start:425px;
    }

    /*main*/
   main{
    background-color: #111;
    margin-left: 520px;
    text-align: center;
    max-height: 2500px;
    max-width: 510px;
    border-radius: 30px;

   }

    /* >>  explicação  << */

   .descricao p{
       font-family: arial;
        margin: 2%;
        color: aliceblue;
        font-size: 14px;
        font-style: italic;
    }

.requisitosVagas{}

.requisitosVagas h4{

  color: aliceblue;

}

    .vagas h4{
        margin-left: 10px;
    
    }
    .vagas img{
        padding-left: 6px ;
        position: initial;
        width: 100px;
        border-radius: 50px;
        margin: 5px;
    }
    .vagas a{
      color: transparent;
    }

    /* >>  explicação  << */
    /*footer*/
    footer{

    }
    .footer{

    }
    footer a{
        color: aliceblue;

    }
    footer a:hover{
        color: lemonchiffon;

    }


/* >>  explicação  << */
/* >>  explicação  << */
/* >>  explicação  << */
/* >>  explicação  << */
/* >>  explicação  << */
/*  mobile option */

/* menu principal supeior  */
@media only screen and (max-width: 500px) {


  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;

      border-style: ridge;
      border-color: red;
    }

    li {
      margin-left: 30px;
      float: left;

    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 10px 16px;
      text-decoration: none;
    }

    li a:hover {
      background-color: #111;
    }

      /*body*/

      body{
          background-color: rgba(17, 17, 17, 0.937);
          color: antiquewhite;
    }

      /*header*/

      /* >>  banner  << */
       header img{
        margin: 0;
        max-width: 450px;
      }

      /*main*/
     main{
      background-color: #111;
      margin-left:80px;
      text-align: center;
      height:900px;
      width: 350px;
      border-radius: 15px;

     }

      /* >>  explicação  << */
      section .secao-principal{
        max-width: 400px;

      }

     .descricao p{
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          margin: 2%;
          color: aliceblue;
          font-size: 13px;
      }

  .requisitosVagas{}

  .requisitosVagas h4{

    color: aliceblue;

  }

      .vagas h4{
          margin-left: 10px;

      }
      .vagas img{
          padding-left: 6px ;
          width: 50px;
          border-radius: 50px;
          margin: 3px;
      }
      .vagas a{

      }
  
      /* >>  explicação  << */
      /*footer*/
      footer{
          padding-top:5%;
  
      }
      .footer{
  
      }
      footer a{
          color: aliceblue;
  
      }
      footer a:hover{
          color: lemonchiffon;
  
      }
  
  }
  /* >>  explicação  << */
  /* >>  explicação  << */
  /* >>  explicação  << */
  /* >>  explicação  << */
  /* >>  explicação  << */
  
